BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "led" IO_TYPE=LVCMOS33 DRIVE=12 PULLMODE=NONE ;
IOBUF PORT "clock" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
LOCATE COMP "clock" SITE "A2" ;
LOCATE COMP "led" SITE "L3" ;
